<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LEIAB Uv</title>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LEIAB Uv", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <!-- Project menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projekt
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Skapa projekt", "Create", "Project")</li>
                            <li>@Html.ActionLink("Visa projekt", "Show", "Project")</li>
                        </ul>
                    </li>

                    <!-- Profile menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profil
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Skapa fönsterprofil", "CreateWindow", "Profile")</li>
                            <li>@Html.ActionLink("Skapa dörrprofil", "CreateDoor", "Profile")</li>
                            <li>@Html.ActionLink("Visa profiler", "Show", "Profile")</li>
                        </ul>
                    </li>

                    <!-- Template menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modell
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Skapa modell", "Create", "Template")</li>
                            <li>@Html.ActionLink("Visa modeller", "Show", "Template")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <footer style="float: right;">
            <p style="padding-right: 10px; padding-top: 7px; color: #ccc;">&copy; @DateTime.Now.Year - LEIAB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
