@model LeiabUv.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Table style -->
<style>

    table{
        color: #ccc;
    }

    tr {
        border: 1px solid #ccc;
        
    }

    td {
        border-right: 1px solid #ccc;

        padding-left: 10px;
        padding-right: 10px;

        padding-top: 10px;
        padding-bottom: 4px;
    }

</style>


<!-- Init elements  -->
<div class="container" style="background-color: #333;">

    <div class="row">

        <!-- Menu -->
        <div class="col-md-2">

        </div>

        <!-- Input form -->
        <div class="col-md-8">

            <h4 style="color: #ccc;">Redigera fönsterprodukt</h4>

            <table style="display: inline-block;">
                <tr style="border: 1px solid #ccc;">
                    <td style="width: 50px;">Namn</td>
                    <td style="width: 160px;" colspan="5">@Html.Raw(@Model.name)</td>
                </tr>
                <tr>
                    <td style="width:  50px;">Tf</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.tf)</td>
                    <td style="width:  50px;">Uf</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.uf)</td>
                    <td style="width:  50px;">Yf</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.yf)</td>
                </tr>
                <tr>
                    <td style="width:  50px;">Tp</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.tp)</td>
                    <td style="width:  50px;">Up</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.up)</td>
                    <td style="width:  50px;">Yp</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.yp)</td>
                </tr>
                <tr>
                    <td style="width:  50px;">Ug</td>
                    <td style="width: 100px; text-align: right;">@Html.Raw(@Model.ug)</td>
                        
                    <td style="width:  50px;">Glas</td>
                    <td style="width: 100px; text-align: left;" colspan="3">@Html.Raw(@Model.glass)</td>
                </tr>
                <tr>
                    <td style="width:  50px;">Info</td>
                    <td style="width: 100px; text-align: left;" colspan="3">@Html.Raw(@Model.info)</td>
                    <td style="width: 100px; text-align: left;" colspan="2">

                        <div class="checkbox">
                            <label style="color: #ccc;"><input type="checkbox" value="" @if (@Model.deprecated) { @Html.Raw("checked"); }>Avfasad</label>
                        </div>

                    </td>
                </tr>
            </table>

            <br />

            <!-- This is not yet implemented -->
            <button id="btnSaveProduct" type="button" class="btn btn-success" style="width: 120px; margin-left: 340px; margin-top: 10px; vertical-align: top;">Spara</button>

            <br />
            <br />
            <br />

        </div>
    </div>
</div>

