@model IEnumerable<LeiabUv.Models.Product>

@{
    ViewBag.Title = "Fönsterprodukter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Init elements  -->
<div class="container" style="background-color: #333;">

    <div class="row">

        <!-- Menu -->
        <div class="col-md-1">

        </div>

        <!-- Input form -->
        <div class="col-md-10">

            <h4 style="color: #ccc;">Fönsterprodukter</h4>

            <table class="table" style="color: #ccc;">
                <tr style="background-color: #444;">
                    <th>
                        Namn
                    </th>
                    <th>
                        Tf
                    </th>
                    <th>
                        Uf
                    </th>
                    <th>
                        &#x3A8;f
                    </th>
                    <th>
                        Tp
                    </th>
                    <th>
                        Up
                    </th>
                    <th>
                        &#x3A8;p
                    </th>

                    <th>
                        Ug
                    </th>
                    <th>
                        Glas
                    </th>
                    <th>
                        Info
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr @if (item.deprecated) { @Html.Raw(" style =\"background-color: #f33\")") }>

                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.uf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.yf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.up)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.yp)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.glass)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.info)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Redigera", "EditWindow", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>

            <br />
            <br />

        </div>
    </div>
</div>

            
